config led 'main'
	option enabled '1'
	option mode 'static'
	option color '#A020F0'
	option brightness '100'
	option interface 'br-lan'
	option icmp_enabled '0'
	option icmp_target '1.1.1.1'
	option failure_mode 'static'
	option failure_color '#FF0000'
	option failure_brightness '100'
	option failure_interface 'br-lan'
	option icmp_retries '3'
	option icmp_restore '2'
